.registerPage{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e8f5e9;
}

.registerCard{
    width:400px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
    text-align:center;
}

.registerCard h1{
    color:green;
    margin-bottom:15px;
}

.registerCard input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    box-sizing:border-box;
}

.registerCard button{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    background:green;
    color:white;
}

.loginBtn{
    background:#1976d2;
}